  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="inputs well form-horizontal">
    <% if current_user.role == 'admin' %>
      <div class="control-group">
        <%= f.label :verfasser, :class => "control-label" %>
        <div class="controls">
          <% if @entry.user_id.nil? %>
            <%= select("entry", "user_id", User.all.collect {|p| [ p.name, p.id ] }, { :selected => current_user.id}) %>
          <% else %>
            <%= select("entry", "user_id", User.all.collect {|p| [ p.name, p.id ] }) %>
          <% end %>

        </div>
      </div>
      <div class="control-group">
        <%= f.label :freigeschaltet, :class => "control-label" %>
        <div class="controls">
          <%= f.check_box :freigeschaltet %>
        </div>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :namenskuerzel, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :namenskuerzel %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :kennzahl, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :kennzahl %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :spaltenzahl, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :spaltenzahl %>
      </div>
    </div>

    <div class="control-group">
    <%= f.label :japanische_umschrift, :class => "control-label"%>
      <div class="controls">
    <%= f.text_field :japanische_umschrift %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :kanji, :class => "control-label" %>
      <div class="controls">
    <%= f.text_field :kanji %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :pali, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :pali %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sanskrit, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :sanskrit %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :chinesisch, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :chinesisch %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tibetisch, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :tibetisch %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :koreanisch, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :koreanisch %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :weitere_sprachen, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :weitere_sprachen %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :alternative_japanische_lesungen, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :alternative_japanische_lesungen %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :schreibvarianten, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :schreibvarianten %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :deutsche_uebersetzung, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :deutsche_uebersetzung %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :lemma_art, :class => "control-label" %>
    <div class="controls">
      <% if @entry %>
        <%= f.select(:lemma_art, options_for_select([["Person", "Person"], ["Tempel", "Tempel"], ["Werk", "Werk"], ["Fachtermini", "Fachtermini"], ["Geographische Bezeichnung", "Geographische Bezeichnung"], ["Ereignis", "Ereignis"]], @entry.lemma_art)) %> 
      <% else %>
        <%= f.select(:lemma_art, options_for_select([["Person", "Person"], ["Tempel", "Tempel"], ["Werk", "Werk"], ["Fachtermini", "Fachtermini"], ["Geographische Bezeichnung", "Geographische Bezeichnung"], ["Ereignis", "Ereignis"]])) %> 
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :jahreszahlen, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :jahreszahlen %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :uebersetzung, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :uebersetzung, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :quellen, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :quellen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :literatur, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :literatur, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :eigene_ergaenzungen, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :eigene_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :quellen_ergaenzungen, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :quellen_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :literatur_ergaenzungen, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :literatur_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
