<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Suche</li>
      <%= form_tag users_entries_path, method: "get", id: "search_form" do %>
        <fieldset>
          <li>
            <label for="search">Suchbegriff</label>
            <input type="text" id="search" name="search" class="span12" value="<%= params[:search] %>"></input>
          </li>
        <fieldset>
        <li>
          <button id="search_button" class="btn">Suchen</button>
        </li>
      <% end %>
      <% if @entry.page_reference %>
        <li class="nav-header">Scan der Originalseite</li>
        <li>
        <% page = @entry.page_reference[1,4] %>
        <%= link_to "Seite #{page} anzeigen", "/SBDJ-Original-JPGs/SBDJ_Seite_#{page}.jpg", :target => "_blank" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% content_for :content do %>
  <h1>Editing entry</h1>
  <%= form_for @entry, :html => {:class => "form-horizontal"} do |f| %>
    <%= render :partial => 'entries/form', :locals => {:f => f}%>
  <% end %>

  <%= link_to 'Show', @entry %> |
  <%= link_to 'Back', entries_path %>
<% end %>
