<% content_for :content do %>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <h1>Listing entries</h1>

  <table class="table table-striped">
    <tr>
      <th>Namenskürzel</th>
      <th>Kennzahl</th>
      <th>Spaltenzahl</th>
      <th>Japanische umschrift</th>
      <th>Kanji</th>
      <th>Aktionen</th>
      <th>Kommentar</th>
    </tr>

    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.namenskuerzel %></td>
        <td><%= entry.kennzahl %></td>
        <td><%= entry.spaltenzahl %></td>
        <td><%= entry.japanische_umschrift %></td>
        <td><%= entry.kanji %></td>
        <td><%= link_to 'Show', entry %>
        <% if entry.user == current_user %>
          <%= link_to 'Edit', edit_entry_path(entry) %>
          <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
        <td>
          <% if entry.comments.length != 0 %>
            <%= link_to entry.comments.length, entry_path(entry) + "#comments", :class => "badge badge-important comments" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Entry', new_entry_path %>
<% end %>
