<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Suche</li>
      <%= form_tag entries_path, method: "get", id: "search_form" do %>
        <fieldset>
          <li>
            <label for="search">Suchbegriff</label>
            <input type="text" id="search" name="search" class="span12" value="<%= params[:search] %>"></input>
          </li>
        <fieldset>
        <li>
          <button id="search_button" class="btn">Suchen</button>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :content do %>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= raw(flash[:notice]) %></strong>
    </div>
  <% end %>
  <h1>Alle Einträge</h1>

  <%= paginate @entries %>
  <table class="table table-striped">
    <tr>
      <th>Verfasser</th>
      <th>Namenskürzel</th>
      <th>Kennzahl</th>
      <th>Japanische umschrift</th>
      <th>Kanji</th>
      <th>Aktionen</th>
      <th>Kommentar</th>
    </tr>

    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user.name %></td>
        <td><%= entry.namenskuerzel %></td>
        <td><%= entry.kennzahl %></td>
        <td><%= entry.japanische_umschrift %></td>
        <td><%= entry.kanji %></td>
        <td><%= link_to 'Anzeigen', entry %>
        <% if entry.user == current_user || current_user.admin? %>
          <br/>
          <%= link_to 'Bearbeiten', edit_entry_path(entry) %>
        <% end %>
        <% if current_user.admin? %>
          <br/>
          <%= link_to 'Löschen', entry, method: :delete %>
        <% end %>
        </td>
        <td>
          <% if entry.comments.length != 0 %>
            <%= link_to entry.comments.length, entry_path(entry) + "#comments", :class => "badge badge-important comments" %>
          <% end %>
          <% if entry.freigeschaltet %>
            <span class="label label-success">Freigeschaltet</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @entries %>

<% end %>
