<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Suche</li>
      <%= form_tag users_entries_path, method: "get", id: "search_form" do %>
        <fieldset>
          <li>
            <label for="search">Suchbegriff</label>
            <input type="text" id="search" name="search" class="span12" value="<%= params[:search] %>"></input>
          </li>
        <fieldset>
        <li>
          <button id="search_button" class="btn">Suchen</button>
        </li>
      <% end %>
      <% if @entry.page_reference %>
        <li class="nav-header">Scan der Originalseite</li>
        <li>
        <% page = @entry.page_reference[1,4] %>
        <%= link_to "Seite #{page} anzeigen", "/SBDJ-Original-JPGs/SBDJ_Seite_#{page}.jpg", :target => "_blank" %>
        </li>
        <li>
        <%
          #The next page should be linked too. REASON: dictionary entry could be on 2 or even more pages...
        #I am not paid enough for preventing error triggered by non-existing 2. page!
      %>
        <% page2 = (page.to_i + 1).to_s %>
        <% diff = 4 - page2.length%>
        <% while diff > 0 do %>
          <% page2 = "0" + page2 %>
          <% diff -= 1 %>
        <% end %>

        <%= link_to "Seite #{page2} anzeigen", "/SBDJ-Original-JPGs/SBDJ_Seite_#{page2}.jpg", :target => "_blank" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% content_for :content do %>
    <% if flash[:notice] && flash[:notice][0..4] == "Entry" %> 
      <div class="alert alert-notice">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= raw(flash[:notice]) %></strong>
      </div>
    <% end %>

  <dl class="dl">
    <dt class="label">Verfasser</dt>
    <dd><%= @entry.user.name %></dd>
    <dt class="label">Namenskürzel</dt>
    <dd><%= @entry.namenskuerzel %></dd>

    <dt class="label">Kennzahl</dt>
    <dd><%= @entry.kennzahl %></dd>
    <dt class="label">Spaltenzahl</dt>
    <dd><%= @entry.spaltenzahl %></dd>
    <dt class="label">Page Referenz</dt>
    <dd><%= @entry.page_reference %></dd>
    <dt class="label">Japanische Umschrift</dt>
    <dd><%= @entry.japanische_umschrift %></dd>
    <dt class="label">Kanji</dt>
    <dd><%= @entry.kanji %></dd>

    <dt class="label">Pali</dt>
    <dd><%= @entry.pali %></dd>
    <dt class="label">Sanskrit</dt>
    <dd><%= @entry.sanskrit %></dd>
    <dt class="label">Chinesisch</dt>
    <dd><%= @entry.chinesisch %></dd>


    <dt class="label">Tibetisch</dt>
    <dd><%= @entry.tibetisch %></dd>

    <dt class="label">Koreanisch</dt>
    <dd><%= @entry.koreanisch %></dd>

    <dt class="label">Weitere Sprachen</dt>
    <dd><%= @entry.weitere_sprachen %></dd>
    <dt class="label">Alternative japanische Lesungen</dt>
    <dd><%= @entry.alternative_japanische_lesungen %></dd>
    <dt class="label">Schreibvarianten</dt>
    <dd><%= @entry.schreibvarianten %></dd>
    <dt class="label">Deutsche Übersetzung</dt>
    <dd><%= @entry.deutsche_uebersetzung %></dd>
    <dt class="label">Art des Lemmas</dt>
    <dd><%= @entry.lemma_art %></dd>
    <dt class="label">Jahreszahlen</dt>
    <dd><%= @entry.jahreszahlen %></dd>
    <dt class="label">Übersetzung</dt>
    <dd><%= raw(@entry.uebersetzung) %></dd>
    <dt class="label">Quellen</dt>
    <dd><%= raw(@entry.quellen) %></dd>
    <dt class="label">Literatur</dt>
    <dd><%= raw(@entry.literatur) %></dd>
    <dt class="label">Eigene Ergänzungen</dt>
    <dd><%= raw(@entry.eigene_ergaenzungen) %></dd>
    <dt class="label">Quellen Ergänzungen</dt>
    <dd><%= raw(@entry.quellen_ergaenzungen) %></dd>
    <dt class="label">Literatur Ergänzungen</dt>
    <dd><%= raw(@entry.literatur_ergaenzungen) %></dd>
  </dl> 
  <% if @entry.user == current_user %>
    <%= link_to 'Edit', edit_entry_path(@entry) %> |
  <% end %>
  <%= link_to 'Back', entries_path %>
  <a name="comments"></a>
  <div class="span9">
    <h1>Comments</h1>
    <% if flash[:notice] && flash[:notice][0..6] == "Comment" %> 
      <div class="alert alert-notice">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= flash[:notice] %></strong>
      </div>
    <% end %>
    <ul class="unstyled">
      <% @entry.comments.order("updated_at DESC").each do |comment| %>
        <li>
        <div name="comment">
          <strong><%= comment.user.name %> <label class="label label-info"><%= comment.user.role %></label></strong>
          <br />
          <%= comment.comment.to_s %>
          <br />
          <%= comment.updated_at.to_s %>
        </div>
        <% if comment.user == current_user || current_user.role == "admin" %>
          <div class="action">
            <%= link_to "Delete", comment_path(comment), method: :delete %>
            <%= link_to "Edit", edit_comment_path(comment) %>
          </div>
        <% end %>
        <hr>
        </li>
      <% end%>
    </ul>
    <%= form_for(Comment.new, :method => :post) do |f| %>
      <fieldset>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :entry_id, :value => @entry.id  %>
        <%= f.hidden_field :user_id, :value => current_user.id  %>
        <%= f.label :comment %><br />
        <%= f.text_area :comment, :class => "comment_field" %>
        <div class="actions">
          <%= f.submit %>
        </div>
      </fieldset>
    <% end%>
  </div>
<% end %>
