<% content_for :content do %>
  <% if flash[:notice] %> 
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= flash[:notice] %></strong>
    </div>
  <% end %>

  <dl class="dl">
    <dt class="label">Verfasser</dt>
    <dd><%= @entry.verfasser %></dd>

    <dt class="label">Kennzahl</dt>
    <dd><%= @entry.kennzahl %></dd>
    <dt class="label">Spaltenzahl</dt>
    <dd><%= @entry.spaltenzahl %></dd>
    <dt class="label">Japanische Umschrift</dt>
    <dd><%= @entry.japanische_umschrift %></dd>
    <dt class="label">Kanji</dt>
    <dd><%= @entry.kanji %></dd>

    <dt class="label">Pali</dt>
    <dd><%= @entry.pali %></dd>
    <dt class="label">Sanskrit</dt>
    <dd><%= @entry.sanskrit %></dd>
    <dt class="label">Chinesisch</dt>
    <dd><%= @entry.chinesisch %></dd>


    <dt class="label">Tibetisch</dt>
    <dd><%= @entry.tibetisch %></dd>

    <dt class="label">Koreanisch</dt>
    <dd><%= @entry.koreanisch %></dd>

    <dt class="label">Weitere Sprachen</dt>
    <dd><%= @entry.weitere_sprachen %></dd>
    <dt class="label">Alternative japanische Lesungen</dt>
    <dd><%= @entry.alternative_japanische_lesungen %></dd>
    <dt class="label">Schreibvarianten</dt>
    <dd><%= @entry.schreibvarianten %></dd>
    <dt class="label">Deutsche Übersetzung</dt>
    <dd><%= @entry.deutsche_uebersetzung %></dd>
    <dt class="label">Art des Lemmas</dt>
    <dd><%= @entry.lemma_art %></dd>
    <dt class="label">Jahreszahlen</dt>
    <dd><%= @entry.jahreszahlen %></dd>
    <dt class="label">Übersetzung</dt>
    <dd><%=raw(@entry.uebersetzung) %></dd>
    <dt class="label">Quellen</dt>
    <dd><%= @entry.quellen %></dd>
    <dt class="label">Literatur</dt>
    <dd><%= @entry.literatur %></dd>
    <dt class="label">Eigene Ergänzungen</dt>
    <dd><%= @entry.eigene_ergaenzungen %></dd>
    <dt class="label">Quellen Ergänzungen</dt>
    <dd><%= @entry.quellen_ergaenzungen %></dd>
    <dt class="label">Literatur Ergänzungen</dt>
    <dd><%= @entry.literatur_ergaenzungen %></dd>
  </dl> 
  <% if @entry.user == current_user %>
    <%= link_to 'Edit', edit_entry_path(@entry) %> |
  <% end %>
  <%= link_to 'Back', entries_path %>
<% end %>
