<% content_for :content do %>
  <h1>Alle Mitarbeiter</h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td><%= link_to 'Anzeigen', user %>
         | <%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Wollen Sie diesen Mitarbeiter wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>


