<!DOCTYPE html>
<html>
<head>
  <title>Das Große Lexikon des Buddhismus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container navbar-container">
      <%= link_to "DGLB", root_path, :class => 'brand' %>
      <ul class="nav">
        <% if current_user.admin? %>
          <li class="dropdown">
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Mitarbeiter</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><%= link_to "Alle Mitarbeiter", users_path, :method => :get, :target => "_self" %></li>
              <li><%= link_to "Neuer Mitarbeiter", new_user_path, :method => :get, :target => "_self" %></li>
            </ul>
          </li>
        <% end %>
        <li><%= link_to "Konto", edit_user_path(current_user), :method => :get, :target => "_self" %></li>
          <li class="dropdown">
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>Einträge</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><%= link_to "Alle Einträge", entries_path, :method => :get, :target => "_self" %></li>
              <li><%= link_to "Meine Einträge", users_entries_path(current_user), :method => :get, :target => "_self" %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Neuer Eintrag", new_entry_path, :method => :get, :target => "_self" %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Basislemmata", hundredlemma_path, :method => :get, :target => "_self" %></li>
          <li><%= link_to "Tutorial", tutorial_path, :method => :get, :target => "_self" %></li>
      </ul>

      <ul class="nav pull-right">
        <li><%= link_to "#{current_user.email} abmelden.", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  </div>
</div>  

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar-nav-fixed">
      <%= yield :sidebar%>
    </div>
    <div class="span8 offset3">
      <%= yield :content%>
    </div>
  </div>
</div>


</body>
</html>
