<!DOCTYPE html>
<html>
<head>
  <title>SBDJ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 offset4">
      <%= yield :content%>
      <% if notice || alert %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end%>
    </div>
  </div>
</div>


</body>
</html>
